.header-container {
    height:745px;
    position:relative;
    background: url('../../../images/Mask\ Group\ 2.png');
    background-size: cover;
    
}
.header-container::after {
    height:745px;
    content:' ';
    position: absolute;
    top: 0;
    width: 25%;
    right: 0;
    background-color: #3A4256;
    z-index: -50;
}
